body{
    background-color: cadetblue;
}

.logo{
    background-color: cornflowerblue;
}
img{
    width: 100%;

}
.menu{
    background-color: crimson;
}
#nav {
    width: 100%;
    background: chocolate;
    
    
}
#nav li{list-style: none;
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    
    
}
#nav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}

#nav li a:hover{
    color:burlywood;
}